/node_modules
/.next
/out
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
/data/webdesign.db
/data/config.json
/data/screenshots/*.png
!.gitkeep
data/webdesign.db-shm
data/webdesign.db-wal
